:root {
  --black: #272727;
  --darkblue: #1f2937;
  --white: #ffffff;
  --lightgrey: #dfdbdb;
  --cornflowerblue: #3882f6;
  --darkgrey: #4f4f4f;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("./assests/topography"),
    linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 20px;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.page {
  display: grid;
  max-width: 980px;
}

.button {
  background-color: var(--cornflowerblue);
  color: var(--white);
  box-shadow: none;
  border-radius: 10px;
}

.header {
  /* position */
  display: grid;

  /* style  */
  background-color: var(--darkblue);
  color: var(--white);
}

.logo {
  justify-self: flex-end;
}
.logo__text {
  font-size: 18px;
  font-weight: 800;
}
.nav {
  grid-column: 3;
  align-self: center;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.menu__link {
  list-style-type: none;
}

.main {
  /* position */
  display: grid;
  grid-column: 1 / -1;

  /* layout */
  grid-template-columns: 1fr 3fr 1fr;

  /* style */
  background-color: var(--white);
}
.hero {
  /* position */
  display: grid;
  grid-column: 1 / -1;

  /* layout */
  grid-template-columns: 1fr 3fr 3fr 1fr;

  /* style */
  background-color: var(--darkblue);
}

.section {
  /* layout */
  grid-column: 2;

  /* style  */
  color: var(--white);
  text-align: left;
  padding: 20px;
}

.section__title {
  font-size: 36px;
}
.section__text {
  font-size: 14px;
}

.section__button {
  padding: 6px 12px;
  border: none;
}

.photo {
  grid-column: 3;
  display: grid;
  align-content: center;
}

.photo__img {
  /* position */
  display: grid;
  place-content: center;

  /* style  */
  background-color: var(--darkgrey);
  color: var(--white);
}

.photo__text {
  align-self: center;
  margin: 80px 0px;
}

.article {
  /* position */
  grid-column: 2;

  /* style */
  margin: 2rem;
}
.article__title {
  /* positon  */
  display: flex;
  justify-content: center;

  /* style  */
  font-size: 36px;
  font-weight: 800;
}
.cards {
  /* layout */
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  /* style */
  padding: 0.5rem;
  margin-top: 20px;
  gap: 30px;
}
.card {
  display: grid;
  place-items: center;
}

.card__img {
  /* style */
  width: 100px;
  height: 100px;
  border: 5px solid var(--cornflowerblue);
  border-radius: 20px;
}
.card__text {
  padding-top: 10px;
  text-align: center;
}

.quote {
  grid-column: 1 / -1;
}
.blockquote {
  /* layout */
  display: inline-grid;

  /* style */
  background-color: var(--lightgrey);
  padding: 2rem;
  font-style: italic;
}

.blockquote__text {
  margin: 0px 100px;
}

.blockquote__caption {
  /* position */
  display: flex;
  justify-content: end;

  /* style */
  font-weight: 700;
}

.blockquote__citation {
  /* position */
  display: flex;
  justify-content: end;

  /* style */
  font-weight: 700;
}

.modal {
  /* position */
  grid-column: 2;

  /* layout */
  display: flex;
  justify-content: center;

  /* style */
  background-color: var(--cornflowerblue);
  color: var(--white);
  width: 600px;
  margin: 60px;
  padding: 20px 20px;
  border-radius: 20px;
}
.cta {
  margin: 10px;
}

.cta__title {
  font-weight: 700;
}

.cta__text {
  justify-items: center;
}

.cta__button {
  flex-shrink: 0;
  border: 2px solid var(--white);
  padding: 10px;
  margin: 20px;
}

.footer {
  /* position */
  display: grid;
  grid-column: 1 / 5;
  justify-content: center;

  /* style  */
  background-color: var(--darkblue);
  color: var(--white);
  padding: 1.5rem;
}

.footer__text {
  font-size: 12px;
  font-weight: normal;
}
